.modal-content {
    position: absolute;
    width: 500px;
    text-align: center;
    left: 35%;
    top: 160px;
    padding: 20px;
    background-color: white;
    border: 1px solid grey;
}

.modal-dialog {
    float: none;
}

.modal-header {
    background-color: #1b73e8;
}
