table {
    width:100%;
    border: 1px solid rgba(187, 187, 187, 1);
    border-collapse: collapse;
}

table th {
    border-bottom: 1px solid rgba(187, 187, 187, 1);
}

table td{
    border-bottom: 1px solid rgba(187, 187, 187, 0.65);
}

table th div {
    margin: 2px 5px;
    width: 100%;
    border-right: 1px solid rgba(187, 187, 187, 1);
}


table thead th:nth-child(1) {
    width: 5%;

}

table thead th:nth-child(2) {
    width: 10%;
    
}

table thead th:nth-child(3) {
    /* width: 10%; */
    
}

table thead th:nth-child(4) {
    width: 10%;
    
}

table thead th:nth-child(5) {
    width: 10%;
    
}

table thead th:nth-child(6) {
    width: 10%;
    
}

table thead th:nth-child(7) {
    width: 10%;
    
}

table thead th:nth-child(8) {
    width: 10%;
    
}
