.project-users {
    width: -webkit-fill-available;
    border-collapse: collapse;
    float: none;
  }
  
  .project-users thead {
    text-align: center;
  }
  
  .project-users thead:after {
    content:"@";
    display:block;
    line-height:17px;
    text-indent:-99999px;
  }
  
  .project-users thead td {
    font-weight: bold;
    padding: 0px 0px 0px 13px;
    border-left: 1px solid rgba(187, 187, 187, 1);
  }
  
  .project-users tbody {
    text-align: center;
    border-top: 2px solid rgba(187, 187, 187, 1);
  }
  
  .project-users tbody tr {
    border-bottom: 1px solid rgba(187, 187, 187, 1);
  }
  
  .project-users tbody tr td {
    padding: 20px 0px 20px 13px;
  }

  .table-content {
      padding: 15px 100px;
      width: -webkit-fill-available;
      float: none;
  }
 div .table-content{
    float: none;
  }

  #pjusers-header {
    padding-top: 1%;
    padding-bottom: 2%;
  }

.new-user {
  -webkit-appearance: button;
  background-color: #20c352;
  color: #fff;
  border: 1px solid rgba(7, 40, 84, 0.8);
  /* //width: 50%; */
  padding: 1px 6px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
}

.delete-user {
  -webkit-appearance: button;
  background-color: #fff;
  color: #000;
  border: 1px solid #F44336;
  width: 80px; 
  padding: 1px 6px;
  border-radius: 4px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
}

.new-user, .back {
  -webkit-appearance: button;
  background-color: #fff;
  color: #000;
  border: 1px solid rgba(26, 115, 232, 1);
  width: 80px; 
  padding: 1px 6px;
  border-radius: 4px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
}

.table-content button {
  margin-top: 1%;
}

.project-users button:hover {
    color: #519e8a;
    background-color: #fff;
    border: 1px solid #519e8a;
}
