.toolbar {
    display: inline-block;
    font-size: 0.7em;
  }
  
  .toolbar button {
    margin-top:10px;
    margin-bottom: 10px;
  }
  
  .data-table {
    padding:10px;
    box-shadow: 2px 2px 2px 1px rgb(90, 88, 88);
  }
  
  .data-inner-table {
    width:100%;
    border-collapse: collapse;
  }
  
  .data-table th {
    background-color:whitesmoke;
    padding: 7px;
    position: relative;
    border: 1px solid #e5e5e5;
    text-align: center;
    font-weight: normal;
    line-height: 2em;
  }
  
  .data-table td {
    width: 1%;
    border: 1px solid #eee;
    color: #212121;
    vertical-align: middle;
    padding: 4px 7px;
  }

  .data-table td form {
    width: fit-content;
  }
  .data-table td form input {
    width: 100% ;
  }
  
  .col-resizer {
    position: absolute;
    width: 20px;
    height:30px;
    cursor: col-resize;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    user-select: none;
  }
  
  .data-table-caption {
    padding: 15px 5px;
    text-align: left;
    font-weight: bold;
    font-size: 3em;
  }

  .data-table-caption button {
    background-color: #20c352;
    color: #212121;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #000000;
    width: auto;
    font-size: 0.5em;
    font-weight: lighter;
    letter-spacing: 1px;
  }
  
  .data-table-caption button:hover {
    color: #519e8a;
    background-color: #fff;
    border: 2px solid #519e8a;
  }